<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Instructor details</h1>

            <h3> {{instructor.first_name}} {{instructor.last_name}} </h3>
            <p>Country: {{instructor.country}} </p>
            <p>Contract : {{instructor.contract}} </p>
            <p>Devise: {{instructor.devise}} </p>

            <h5> Rate </h5>

            <p>Course : {{instructor.rate_course}} </p>
            <p>TA :  {{instructor.rate_ta}} </p>
            <p>Checker : {{instructor.rate_checker}} </p>
            <p>Support : {{instructor.rate_support}} </p>
        
        
    </body>
</html>